@model List<FoodAndCore.Data.Models.Food>
<div class="top-brands">
	<div class="container">
		<h3>Ürünler</h3>
		<div class="agile_top_brands_grids">
		@foreach(var item in Model)
		{

			<div class="col-md-3 top_brand_left mt-2">
				<div class="hover14 column">
					<div class="agile_top_brand_left_grid">
						<div class="agile_top_brand_left_grid1">
	
								<figure>
									<div class="snipcart-item block">
										<div class="snipcart-thumb">
											<a href="#"><img title=" " alt=" " src="@item.FoodImgUrl" height="50"/></a>
											<p>@item.FoodName</p>
											<h4>@item.FoodPrice₺</h4>
										</div>
										<div class="snipcart-details top_brand_home_details">
											<form action="#" method="post">
												<fieldset>
													<input type="hidden" name="cmd" value="_cart" />
													<input type="hidden" name="add" value="1" />
													<input type="hidden" name="business" value=" " />
													<input type="hidden" name="item_name" value="@item.FoodName" />
													<input type="hidden" name="amount" value="@item.FoodPrice" />
													<input type="hidden" name="discount_amount" value="1.00" />
													<input type="hidden" name="currency_code" value="TL" />
													<input type="hidden" name="return" value=" " />
													<input type="hidden" name="cancel_return" value=" " />
													<input type="submit" name="submit" value="Sepete Ekle" class="button" />
												</fieldset>
											</form>
										</div>
									</div>
								</figure>
							
						</div>
					</div>
				</div>
			</div>
			}
			<div class="clearfix"> </div>
			
		</div>
	</div>
</div>